name: Conda Build

on:
  pull_request:
  push:
    branches:
      - master
    tags:
      - v*
  release:

jobs:
  conda-build:
    name: Build Conda Package on ${{ matrix.os }} for Python ${{ matrix.python }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        pyver: [cp39, cp310, cp311, cp312, cp313]
        include:
          - os: windows-latest
            cibw_archs: "native"
          - os: macos-15
            cibw_archs: "native"
          - os: macos-15-intel
            cibw_archs: "native"
          - os: ubuntu-latest
            cibw_archs: "native"
          - os: ubuntu-latest
            cibw_archs: "aarch64"

    defaults:
      run:
        shell: bash -el {0}

    steps:
      - name: Set up QEMU
        if: matrix.cibw_archs == 'aarch64'
        uses: docker/setup-qemu-action@v2
        with:
          platforms: arm64
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup MiniForge
        uses: conda-incubator/setup-miniconda@v3
        with:
          miniforge-version: latest
          python-version: 3.11
          environment-file: conda-recipes/devtools.yml
          show-channel-urls: true
          conda-remove-defaults: "true"
      - name: Build conda packages
        run: |
          conda build --python ${{ matrix.python }}  --output-folder ../conda_packages smurff
        working-directory: conda-recipes
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: conda-${{ matrix.os }}-${{ matrix.python }}
          path: conda_packages/*

  merge:
    name: Merge all Conda artifacts
    runs-on: ubuntu-latest
    needs: conda-build
    steps:
      - name: Merge Artifacts
        uses: actions/upload-artifact/merge@v4
        with:
          name: all-conda-packages
