name: Build Wheels

on:
  pull_request:
  push:
    branches:
      - master
    tags:
      - v*
  release:

jobs:
  build_wheels:
    name: wheel ${{ matrix.pyver }}-${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - pyver: [cp39, cp310, cp311, cp312, cp313]
          - os: windows-latest
          - os: macos-15
          - os: macos-15-intel
          - os: ubuntu-latest
          - cibw_archs: "native aarch64"

    steps:
      - name: Set up QEMU
        if: matrix.cibw_archs == 'aarch64'
        uses: docker/setup-qemu-action@v2
        with:
          platforms: arm64

      - uses: actions/checkout@v4
        with:
          submodules: "true"
          fetch-depth: 0

      # Used to host cibuildwheel
      - uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - name: Install cibuildwheel
        run: python -m pip install cibuildwheel

      - name: Build wheels
        env:
          CIBW_BUILD: ${{ matrix.pyver }}-*
          CIBW_ARCHS: ${{ matrix.cibw_archs }}
        run: python -m cibuildwheel --output-dir wheelhouse

      - uses: actions/upload-artifact@v4
        with:
          name: cibw-wheels-${{ matrix.os }}-${{ matrix.pyver }}
          path: ./wheelhouse/*.whl

  merge:
    name: merge all wheel artifacts
    runs-on: ubuntu-latest
    needs: build_wheels
    steps:
      - name: Merge Artifacts
        uses: actions/upload-artifact/merge@v4
        with:
          name: all-wheels
